@font-face {
  font-family: birthstone;
  src: url(./assets/Birthstone-Regular.ttf);
}

:root {
  font-family: birthstone;
}

.image-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 16px; 
  padding: 16px;
  background: linear-gradient(
    to right,
    rgb(65, 183, 230) 0%,
    rgb(190, 209, 214) 100%
  );
}

.image-container {
  /* REMOVE fixed width: 500px; */
  width: 100%; 
  
  /* Use aspect-ratio to keep them uniform without needing a fixed height */
  aspect-ratio: 3 / 4; 
  
  overflow: hidden;
  border-radius: 8px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container img:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* header */
header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-height: 100px;
}

.scores {
  font-size: 40px;
}

/* dialog */
dialog[open] {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/dialog.gif);
  background-size: cover;
  border: none;
  border-radius: 20px;
}

dialog p {
  font-size: 60px;
  margin: 0;
}

button {
  font-family: birthstone;
  font-size: 24px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  transition: transform 0.1s
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}